.debug {
    border: 1px solid black;


    main{
        background-color: blueviolet;
    }

    .jumbotron{
        background-color: rgb(140, 180, 200);
        height: 300px;

    }

    .middle1{
        background-color: blue;
        height: 500px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "inter";
}

/* utils */

a{
    text-decoration: none;
    margin-right: 1rem;
    color: black;
}

nav{
    display: inline;
}

/* header */

header{
        background-color: white;
        font-size: 10px;
        height: 2rem;
        
        nav{
            text-align: center;
        }
}

.logo{
    height: 1rem;

}

.top{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.right-top{
    text-align: right;
    
    button{
        margin-top: 5px;
        color: white;
        border: 0px solid black;
        background-color: blue;
        padding: 4px;
    }
}

.left-top{
   text-align: left;
}

/* main */

.container{
    width: 70%;
    margin: auto;
}

.container-pr{
    width: 60%;
    margin: auto;
}

.d-flex{
  display: flex;
  margin: auto;
}

.block{
    padding: 1rem 0;
}

.jumbo{
    width: 100%;
    height: ;

}

.corp{
    p{
      font-size: 0.5rem;
      width: 100%;
    }

    button{

      font-size: 0.4rem;
      margin: 0.5rem 0;
      color: rgb(0, 0, 0);
      border: 0px solid black;
      background-color: rgb(140, 180, 200);
    }

    .start{
        padding: 3px;
        background-color: rgb(99, 99, 254);
    }
}

.col {
  width: calc(100% / 3 - 1rem);
}

.col-buisness{
     width: calc(100% / 3 - 1rem);
}

.partner{
    width: 80%;
}

.text-partner{
    max-width: 30%;
}

.left,
.middle,
.right
{
    height: 200px;
    background-color: black;
    margin: 0.5rem;
}


/* footer */

.right-side {
    width: 20%;
    margin: 0 10px;
    padding: 0 15px;
}

.foot-flex {
    display: flex;
    flex-direction: column;
}

.language{
    border-top: 1px solid black;
    
    button{
        margin-top: 5px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 7px;
    }
}
