.debug {
    .enter{
      
        margin: 4rem auto;
        align-items: center;
    
    }
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue:#0061fe;
    --celest:#b4d0e6;
    --gray: #403d38;
    --lightgray: #e2e2e4;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.container-pr{
    width: 60%;
    margin: 0 auto;
}

button{
   color: white;
   border: 0px solid black;
   background-color:var(--blue);
}

body{
    font-family: "inter";
}

/* utils */

img{
    width: 100%;
}

a{
    text-decoration: none;
    margin-right: 0.5rem;
    color: black;
}

nav{
    display: inline;
}

.under{
    text-decoration: underline;
    color: var(--blue);
}

.space{
    background-color: white;
    height: 2rem;
}

/* header */

header{
        background-color: white;
        font-size: 10px;
        padding: 0.7rem;
}

.logo{
    margin-right: 0.5rem;
    width: 10%;
}

.top{
   display: flex;
   align-items: center;
}

.left-top{
    width: 50%;
}

.right-top{
    width: 50%;
}

.team{
   font-size: 0.8rem;
   margin-bottom: 2rem;
   
   h1{
    width: 81%;
    margin: 2rem 0;
   }
}

/* main */


.jumbotron{
    background-color: var(--celest);
}

.start{
    font-size: 1rem;
    margin: 2rem 0;
    padding: 0.5rem 0.8rem;
}

.buisness{
    margin-top: 100px;
}

.d-flex{
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 1rem;
}

.block{
    padding: 1rem 0;
}
.jum{
    width: 70%;

   .jumbo{
       width: 80%;
       margin-bottom: -40px;
      
   }
}

/* a.under {
    text-decoration: underline;
} */

.ar-be{
    padding-top: 1.5rem;
}
.check{
    color: var(--blue);

}

.air{
    padding: 1.5rem 0 0.5rem 0; 
}

.arrow {
    font-size: 2rem;
    margin-top: 3rem;
}

.corp{
    width: 30%;
}

.bg-gr{
    color: var(--lightgray);
}

.sep{
    height: 1px;
    background-color: var(--gray);
    margin: 1rem 20rem 1rem 0.5rem;
}

p.left{
   border-bottom: 1px solid var(--lightgray);
   text-align: center;
   margin: auto;
   padding: 0.2rem;
}

.col {
  width: calc(100% / 3);
  border: 1px solid var(--lightgray);
  padding: 0 0.5rem;
}

.buis-butt{
    color: white;
    border: 0px solid var(--lightgray);
    background-color:var(--blue);
    padding: 1rem;
    margin: 1rem;
    font-size: 0.7rem;
}

ul.list{
   list-style: none;
   padding-top: 1.5rem;
   
   li{
    padding: 0.3rem;
   }
}

.all{
  width: 100%;
  margin-bottom: 1rem;

  h3{
    margin: 1.5rem 0;
  }

  p{
    font-size: 0.5rem;
    display: inline;
  }
}

.radio {
      cursor: pointer;
      display: inline;
      
    }

.ft-50{
   margin-left: 2rem;
}


.col-buisness{
     width: calc(100%/ 3);
}

.partner{
    width: 90%;
    margin: 2rem 0;
}

.pt-ar{
    margin: 0.5rem 0;
}

.pt-bt{
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
    color: black;
    border: 1px solid black;

}


.text-partner{
    max-width: 30%;
}

.left
{
    background-color: var(--lightgray)
    margin: 0.5rem;
}

.enterprise{
    margin: 2rem 0;
    border: 1px solid var(--lightgray);
    text-align: center;

    .home{
        border-bottom: 1px solid var(--lightgray);
    }
    
    h6{
        margin: 1rem 0;
    }
}

.small{
   font-size: 0.8rem;
}

.bt-enterprise{
    margin: 1rem;
    width: 150px;
    height: 40px;
}

.in-en{
    padding: 0.5rem;
    text-align: left;
}

.row{
    display: flex;
}


/* footer */

footer{
    font-size: 0.5rem;
    background-color: black;
    padding: 2rem 0;
}

.right-side {
    width: 20%;
    margin-bottom: 1rem;
    padding: 0;
    color: white;
}

.foot-flex {
    display: flex;
    flex-direction: column;
    
    a{
     color: var(--lightgray);
     padding-top: 0.2rem;
        
    }
}

.sepdown{
    height: 1px;
    background-color: var(--lightgray);
    margin: 1rem 5rem 1rem 0.5rem;
}

.language{
    
    color: var(--lightgray);

    p{
        margin-top: 1rem;
    }
}

